<!-- templates/ui1.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
    <h1 style="font-size: 6rem; font-weight: bold;">Đây là UI 1</h1>
    <form action="/ui2" method="get">
        <button type="submit" style="font-size: 6rem; padding: 1rem 2rem;">Đi tới UI 2</button>
    </form>
    <button id="subscribe-btn" style="font-size: 3rem; margin-top: 2rem;">
        Đăng ký nhận thông báo
    </button>
</th:block>
</html>