<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
    <h1 style="font-size: 6rem; font-weight: bold;">Đây là UI 3</h1>
    <form action="/" method="get">
        <button type="submit" style="font-size: 6rem; padding: 1rem 2rem;">Về UI 1</button>
    </form>
    <form action="/ui2" method="get">
        <button type="submit" style="font-size: 6rem; padding: 1rem 2rem;">Về UI 2</button>
    </form>
</th:block>
</html>